* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-color: rgb(54, 2, 95);
    background: url(imagens/bg-desktop.jpg) no-repeat top center/cover;
    height: 100vh;

}
h3 {
    color: rgb(151, 168, 40);
}
ol {
    list-style: none;
    text-align: center;
}
img {
   display: flex;
    width: 200px;;
    height: 190px;;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(123, 126, 24);
}
a{
    text-decoration: none;;
}
.redesocial
{
    width: 100px;
    height: 90px;
}
.gtly
{
    display: flex;
  justify-content: center;
  width: 100%;
}
.ETEC
{
    display: flex;
    position: fixed;
    bottom: 0%;
    left:0%;

}
img {
   display: flex;
    width: 200px;;
    height: 190px;;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(123, 126, 24);
  }
  .foto
  {
        display: block;
  margin: 0 auto;
  }
  footer
  {
    text-align: left;
    margin-top: 22%;
    color: rgb(250, 202, 255);
  }
  ol.links {
  display: flex;              /* ativa flex no pai */
  flex-direction: column;     /* empilha verticalmente */
  align-items: center;  /* ocupa só o conteúdo à esquerda */
  gap: 10px;                  /* espaço entre os itens */
  list-style: none;           /* remove marcadores */
  padding: 0;
  margin: 0;
}

.links li {
  border: 2px solid #333;
  padding: 8px 16px;        /*distância do texto e a borda */
  background-color: #eee;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 15px;
  width: fit-content;         /* ocupa só o tamanho do conteúdo */
}


.links li:hover { /* Hover é qnd passa o mouse */
  background-color: #ddd;
  transform: scale(1.05);
}

.links a {
  color: black;
  text-decoration: none;
}
